@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li,
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 80px;
}

.header__nav {
  padding-top: 48px;
  padding-bottom: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.header__ul {
  align-items: center;
  display: flex;
  gap: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.header__link--last-item {
  position: absolute;
  right: 0;
}

.header__link a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: black;
  font-style: normal;
}

.button {
  padding: 10px 15px;
  background: #24ab70;
  border-radius: 26px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  font-style: normal;
}
.button a {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: white;
  font-style: normal;
}

.title {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: black;
  font-style: normal;
}

.header__title {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: black;
  font-style: normal;
  max-width: 540px;
}

.additional-info {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555;
  font-style: normal;
  max-width: 409px;
}

.header__additional-info {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #555;
  font-style: normal;
  max-width: 515px;
}

.header__link-more-video {
  gap: 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #222;
  font-style: normal;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header__link-more-video::before {
  content: "⏵";
  background-color: white;
  padding: 5px 10px;
  border-radius: 26px;
  font-size: 30px;
  color: #24ab70;
}

.header__main-info {
  margin-bottom: 120px;
  position: relative;
  background: rgba(36, 171, 112, 0.04);
  border-radius: 50px 50px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.header__form-search {
  position: absolute;
  background: white;
  border-radius: 280px;
  box-shadow: 0px 22px 38px rgba(0, 34, 19, 0.08);
  bottom: 35px;
  max-width: 1100px;
  right: 0;
  left: 0;
  margin: 0 auto;
}

.header__items-search {
  gap: 40px;
  padding-left: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header__left-info {
  padding: 88px 0px 88px 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header__item-name {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #222;
  font-style: normal;
}

.header__item-content {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #555;
  font-style: normal;
}

.header__btn-search {
  background: #24ab70;
  border-radius: 280px;
  padding: 38px 46px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.header__btn-search .header__btn-name {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  font-style: normal;
}

.header__item-search {
  gap: 10px;
  padding-right: 40px;
  border-right: 1px solid gainsboro;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.header__item-search--last {
  border: none;
}

.header__btn-search-link {
  margin-left: auto;
}

.popular-hotels__view-all {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #24ab70;
  font-style: normal;
  background: rgba(36, 171, 112, 0.062745098);
  border-radius: 280px;
  padding: 10px 20px;
}

.popular-hotels__nav {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popular-hotels__hotels {
  padding-bottom: 147px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.popular-hotels__location-name {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #24ab70;
  font-style: normal;
}

.popular-hotels__name-hotel {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #222;
  font-style: normal;
}

.popular-hotels__price-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  font-style: normal;
  padding-right: 20px;
  border-right: 1px solid gainsboro;
}

.popular-hotels__score-text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  font-style: normal;
}

.popular-hotels__price-scores {
  display: flex;
  gap: 20px;
}

.popular-hotels__score-text {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.popular-hotels__about-hotel {
  padding: 30px 16px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.popular-hotels__item-hotel {
  background: #fafafa;
  border-radius: 16px;
}

.services__main-info {
  padding-bottom: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.services__text-info {
  gap: 20px;
  max-width: 411px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}
.services__text-info p {
  padding-bottom: 30px;
}

.services__types-services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.services__type {
  border: 1px solid #e8e8e8;
  border-radius: 8px;
  padding: 51px 27px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.services__name-type {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  font-style: normal;
}

.our-history__blocks {
  margin-bottom: 120px;
  background: #f4fbf8;
  border-radius: 16px;
  gap: 100px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.our-history__text {
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.quotes__info {
  border-radius: 16px;
  background: #fafafa;
  margin-bottom: 200px;
  position: relative;
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.quotes__info::after {
  color: #24ab70;
  position: absolute;
  left: -25px;
}
.quotes__info::before {
  color: #24ab70;
  position: absolute;
  right: -25px;
}

.arrow__left {
  display: flex;
  position: absolute;
  left: -30px;
}
.arrow__left::after {
  content: url(../img/arrow-no-active.png);
}

.arrow__right {
  display: flex;
  position: absolute;
  right: -30px;
}
.arrow__right::after {
  content: url(../img/arrow-active.png);
}

.arrow {
  display: flex;
  align-items: center;
}

.quotes__image-author {
  border-radius: 0 16px 16px 0px;
}

.quotes__main-info {
  padding-left: 109px;
}

.additional-info--quote {
  max-width: 628px;
  line-height: 28px;
  position: relative;
  padding-bottom: 57px;
}
.additional-info--quote::after {
  content: "🙶";
  transform: rotate(0.5turn);
  font-size: 40px;
  color: #24ab70;
  position: absolute;
  bottom: 70px;
}
.additional-info--quote::before {
  content: "🙶";
  font-size: 40px;
  color: #24ab70;
  position: absolute;
  left: -25px;
}

.quotes__author {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #222;
  font-style: normal;
}

.quotes__author--profession {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #555;
  font-style: normal;
}

.location__map {
  margin-bottom: 100px;
  background: url(../img/map.png);
  position: relative;
  min-height: 677px;
}

.location__contact-details {
  position: absolute;
  width: 90%;
  background: white;
  padding: 30px 35px;
  right: 0;
  left: 0;
  bottom: 40px;
  margin: 0 auto;
  border-radius: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.location__point {
  position: absolute;
  right: 0;
  left: 42%;
  top: 24%;
  margin: 0 auto;
}

.location__text-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.location__form-input {
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.location__input {
  padding: 20px 160px 20px 20px;
  background: #fafafa;
  border: none;
  border-radius: 28px;
}

.button__location {
  position: absolute;
  right: 0;
  padding: 17px;
}

.footer__items {
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.additional-info__footer {
  max-width: 264px;
}

.footer__social {
  display: flex;
  gap: 40px;
}

.footer__item--first-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.footer__title-list {
  padding-bottom: 24px;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #222;
  font-style: normal;
}

.footer__link a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #222;
  font-style: normal;
}

.footer__links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__main-links {
  display: flex;
  gap: 165px;
}/*# sourceMappingURL=main.css.map */